body {
  font-family: dosis;
  background-size: cover;
  padding: 10px;
  background-repeat: no-repeat;
}

h1 {
  font-size: 500%;
}

#bg {
  // width: 400px;
  // padding: auto;
}

div {
  // margin: 10px;
  background-color: black;
  padding: 20px;
  opacity: .7;
  border-radius: 5px;
  display: inline-block;
  margin-left: 50px
}
