body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}

#add-url-form {
  background-color: pink;
  padding: 10px;
}

#popup {
  margin: 10px;
  padding: 10px;
  background-color: green;

}

#nav-bar {
  background-color: yellow;
  height: 50px;
  // position: fixed;
}

#add-url-button {

}


#card-wall {
  margin: 10px;
  background-color: grey;
  padding: 10px;
}

.card {
  padding: 5px;
  margin: 20px;
  background-color: orange;
}
